nvidia-cusparse-cu12==12.3.1.170
azure-maps-route==1.0.0b3
bleach==6.2.0
aiosignal==1.3.1
charset-normalizer==3.3.2
mistralai==1.6.0
oslo.metrics==0.11.0
matplotlib==3.9.2
msrestazure==0.6.4.post1
numba==0.60.0
pyparsing==3.1.4
autogen-agentchat==0.5.7
pdfplumber==0.11.6
watchfiles==1.0.4
jaraco.classes==3.4.0
langchain==0.3.25
PyNaCl==1.5.0
ipywidgets==8.1.5
nvidia-cuda-nvrtc-cu12==12.4.127
ipyplot==1.1.2
jsonref==1.1.0
openpyxl==3.1.5
webencodings==0.5.1
pybars4==0.9.13
httptools==0.6.4
opentelemetry-instrumentation-asgi==0.51b0
soxr==0.5.0.post1
autogen-ext==0.5.7
yfinance==0.2.64
oslo.utils==8.2.0
tooz==6.3.0
testtools==2.7.2
arrow==1.3.0
stevedore==5.4.1
jupyter==1.1.1
opencensus-ext-logging==0.1.1
aiolimiter==1.2.1
azure-ai-contentsafety==1.0.0
keystoneauth1==5.10.0
google-auth==2.35.0
ruff==0.9.3
pillow==10.4.0
tqdm==4.67.1
graphql-relay==3.2.0
oauthlib==3.2.2
opentelemetry-instrumentation-urllib==0.51b0
anyio==4.8.0
opentelemetry-instrumentation-django==0.51b0
opentelemetry-instrumentation-requests==0.51b0
googleapis-common-protos==1.65.0
async-timeout==4.0.3
kaleido==0.2.1
treelib==1.7.1
Flask==3.0.3
xlrd==2.0.1
xgrammar==0.1.11
aioconsole==0.8.1
msal==1.31.0
torchvision==0.20.1
opentelemetry-exporter-otlp-proto-http==1.30.0
multidict==6.1.0
filelock==3.16.1
future==1.0.0
more-itertools==10.6.0
Flask-Cors==5.0.0
tifffile==2024.9.20
hpack==4.1.0
art==6.5
google-api-core==2.20.0
mistral-lib==3.3.1
eval_type_backport==0.2.2
numpy==1.26.4
webcolors==24.11.1
opencv-python-headless==4.11.0.86
rembg==2.0.65
nltk==3.9.1
openai==1.82.1
pylibsrtp==0.11.0
langchain-core==0.3.61
llvmlite==0.43.0
wheel==0.44.0
sympy==1.13.1
azure-search-documents==11.6.0b12
exceptiongroup==1.2.2
rich-toolkit==0.13.2
WSME==0.12.1
requests-oauthlib==2.0.0
rsa==4.9
argon2-cffi-bindings==21.2.0
azure-storage-file-share==12.18.0
rfc3986==2.0.0
azure-mgmt-network==26.0.0
murmurhash==1.0.12
tornado==6.4.1
portalocker==2.10.1
azure-ai-vision-face==1.0.0b2
nvidia-cudnn-cu12==9.1.0.70
peewee==3.17.9
outlines_core==0.1.26
shortuuid==1.0.13
azure-ai-evaluation==1.8.0
mpmath==1.3.0
pandoc==2.4
mdurl==0.1.2
typing_extensions==4.13.2
mistune==3.1.3
pbr==6.1.1
validators==0.35.0
pycparser==2.22
langsmith==0.3.3
oslo.cache==3.10.1
docx2pdf==0.1.8
PyYAML==6.0.2
deprecation==2.1.0
gguf==0.10.0
av==13.1.0
pyasn1==0.6.1
annotated-types==0.7.0
ollama==0.4.7
pyarrow==15.0.2
shellingham==1.5.4
ipython==8.27.0
nbformat==5.10.4
rfc3986-validator==0.1.1
kombu==5.5.2
iso8601==2.1.0
nvidia-nccl-cu12==2.21.5
triton==3.1.0
Cython==3.0.11
wcwidth==0.2.13
et_xmlfile==2.0.0
huggingface-hub==0.28.0
types-python-dateutil==2.9.0.20250516
testscenarios==0.5.0
gitdb==4.0.11
azure-common==1.1.28
openapi-core==0.19.4
confusable-homoglyphs==3.3.1
tiktoken==0.8.0
pyOpenSSL==24.2.1
azure-core==1.34.0
azureml-dataprep-native==41.0.0
mlflow==2.16.2
peft==0.14.0
oslo.db==17.2.1
oslo.policy==4.5.1
pandas==2.2.3
knack==0.11.0
croniter==6.0.0
mltable==1.6.1
azure-mgmt-resource==23.1.1
bcrypt==4.2.0
zstandard==0.23.0
librosa==0.11.0
multitasking==0.0.11
azure-ai-ml==1.20.0
nvidia-cufft-cu12==11.2.1.3
marshmallow==3.22.0
mistral_common==1.5.3
repoze.lru==0.7
cupy-cuda12x==13.4.0
jupyterlab==4.4.3
setuptools==75.1.0
pycountry==24.6.1
plumbum==1.9.0
orjson==3.10.15
ifaddr==0.2.0
vllm==0.7.3
starlette==0.45.3
contourpy==1.3.0
imageio-ffmpeg==0.6.0
opentelemetry-instrumentation-flask==0.51b0
srsly==2.5.1
cloudevents==1.11.0
frozendict==2.4.6
language_tool_python==2.9.4
markdownify==1.1.0
azure-mgmt-containerregistry==10.3.0
matplotlib-inline==0.1.7
diskcache==5.6.3
SpeechRecognition==3.14.2
fonttools==4.53.1
dill==0.3.8
sniffio==1.3.1
fastapi-cli==0.0.7
tokenizers==0.21.0
httpx==0.28.1
aspose-slides==25.6.0
partial-json-parser==0.2.1.1.post5
azure-identity==1.23.0
lameenc==1.8.1
Deprecated==1.2.14
annoy==1.17.3
asttokens==2.4.1
virtualenv==20.26.5
marisa-trie==1.2.1
rich==13.9.4
pathable==0.4.4
PyJWT==2.9.0
catalogue==2.0.10
email_validator==2.2.0
osprofiler==4.2.0
fastapi==0.115.7
isoduration==20.11.0
safehttpx==0.1.6
dataclasses-json==0.6.7
opentelemetry-instrumentation-langchain==0.38.5
fixedint==0.1.6
wrapt==1.16.0
PySocks==1.7.1
executing==2.1.0
nbclient==0.10.2
flatbuffers==25.2.10
devtools==0.12.2
jsonschema-specifications==2023.12.1
audioread==3.0.1
duckduckgo_search==8.0.1
pytz==2024.2
asyncer==0.0.8
azure-graphrbac==0.61.1
azure-communication-email==1.0.0
zipp==3.20.2
olefile==0.47
PyMuPDF==1.26.0
alembic==1.13.2
msal-extensions==1.2.0
fasteners==0.19
azure-cognitiveservices-vision-customvision==3.1.1
jupyter_server==2.16.0
python-dateutil==2.9.0
oslo.i18n==6.5.1
einops==0.8.1
opentelemetry-exporter-otlp-proto-common==1.30.0
azure-maps-search==2.0.0b2
segno==1.6.6
seaborn==0.13.2
lm-format-enforcer==0.10.11
urllib3==2.2.3
pexpect==4.9.0
azure-mgmt-storage==21.2.1
lark==1.2.2
json_repair==0.30.3
pandocfilters==1.5.1
fnllm==0.2.5
widgetsnbextension==4.0.13
python-docx==1.1.2
multiprocess==0.70.16
oslo.concurrency==7.1.0
fashion-clip==0.2.2
opentelemetry-instrumentation-fastapi==0.51b0
pydantic_core==2.27.2
boto3==1.39.7
cachetools==5.5.0
networkx==3.4.2
opencensus==0.11.4
sse-starlette==2.3.6
asgiref==3.8.1
jupyterlab_server==2.27.3
azure-ai-translation-text==1.0.1
opentelemetry-proto==1.30.0
async-lru==2.0.5
soundfile==0.13.1
pecan==1.6.0
sentencepiece==0.2.0
torch==2.5.1
azure-ai-translation-document==1.1.0b1
rfc3339-validator==0.1.4
jsonschema-path==0.3.4
docker==7.1.0
opentelemetry-semantic-conventions==0.51b0
smart-open==7.1.0
azure-monitor-opentelemetry==1.6.10
torchaudio==2.5.1
aioice==0.9.0
filetype==1.2.0
opencv-python==4.11.0.86
decorator==5.1.1
Brotli==1.1.0
opentelemetry-util-http==0.51b0
backports.tempfile==1.0
idna==3.10
tzdata==2025.2
g4f==0.5.0.4
XlsxWriter==3.2.3
fpdf2==2.8.3
parse==1.20.2
oslo.log==7.1.0
weasel==0.4.1
graphql-core==3.2.4
eyed3==0.9.7
humanfriendly==10.0
toml==0.10.2
typing-inspect==0.9.0
cobble==0.1.4
prometheus_client==0.21.1
openapi-schema-validator==0.6.3
autograd==1.7.0
safetensors==0.5.3
wikipedia==1.4.0
spacy==3.8.4
aiortc==1.10.1
azure-ai-inference==1.0.0b8
h2==4.2.0
nvidia-curand-cu12==10.3.5.147
importlib_resources==6.5.2
httpcore==1.0.7
fastjsonschema==2.21.1
rpds-py==0.20.0
scikit-image==0.24.0
ruamel.yaml==0.18.10
click==8.1.8
python-json-logger==3.3.0
pydub==0.25.1
yt-dlp==2025.3.31
prance==23.6.21.0
confusables==1.2.0
wordcloud==1.9.4
azureml-core==1.57.0.post1
ray==2.40.0
promptflow-tracing==1.17.2
lancedb==0.17.0
python-multipart==0.0.20
language_data==1.3.0
cloudpickle==2.2.1
python-dotenv==1.0.1
distro==1.9.0
accelerate==1.4.0
WebOb==1.8.9
keyring==24.3.1
langcodes==3.5.0
cryptography==43.0.1
msgpack==1.1.0
markitdown==0.1.1
duckdb==1.3.1
Pygments==2.18.0
python-keystoneclient==5.6.0
patsy==1.0.1
pybind11==2.13.6
nvidia-cusparselt-cu12==0.6.2
iniconfig==2.0.0
autogen==0.9.1.post0
textblob==0.18.0.post0
jupyter-events==0.12.0
smmap==5.0.1
jiter==0.8.2
environs==11.2.1
json5==0.12.0
RapidFuzz==3.13.0
pooch==1.8.2
mlflow-skinny==2.16.2
grpcio==1.66.1
azure-mgmt-core==1.4.0
opentelemetry-instrumentation-psycopg2==0.51b0
pydash==7.0.7
futurist==3.1.0
mldesigner==0.1.0b18
debtcollector==3.0.0
GitPython==3.1.43
gradio==5.9.1
confection==0.1.5
prettytable==3.16.0
psutil==5.9.8
pyautogen==0.9
testresources==2.0.1
opentelemetry-semantic-conventions-ai==0.4.2
google-crc32c==1.6.0
terminado==0.18.1
depyf==0.18.0
uvloop==0.21.0
typing-inspection==0.4.0
dnspython==2.7.0
hyperframe==6.1.0
pure_eval==0.2.3
pydantic-settings==2.7.1
azure-cosmos==4.9.0
gunicorn==23.0.0
vine==5.1.0
yaql==3.0.0
magika==0.6.1
debugpy==1.8.5
POT==0.9.5
Jinja2==3.1.6
pluggy==1.5.0
pycadf==4.0.1
graspologic==3.4.1
ftfy==6.3.1
ptyprocess==0.7.0
airportsdata==20250224
notebook==7.4.3
promptflow-core==1.17.2
primp==0.15.0
openapi-spec-validator==0.7.1
azure-ai-documentintelligence==1.0.0
fast-depends==2.4.12
frozenlist==1.4.1
greenlet==3.1.1
timm==1.0.17
pypdf==5.5.0
azure-ai-projects==1.0.0b12
pyee==12.1.1
promptflow-devkit==1.17.2
tabulate==0.9.0
open_clip_torch==2.32.0
parso==0.8.4
opencensus-ext-azure==1.1.13
traitlets==5.14.3
langchain-text-splitters==0.3.8
referencing==0.35.1
azure-monitor-opentelemetry-exporter==1.0.0b33
pip==24.2
Send2Trash==1.8.3
nest_asyncio==1.6.0
opentelemetry-api==1.30.0
yarl==1.18.3
oslo.serialization==5.7.0
databricks-sdk==0.32.3
opentelemetry-sdk==1.30.0
importlib_metadata==8.4.0
aniso8601==9.0.1
lazy_loader==0.4
SQLAlchemy==2.0.35
kiwisolver==1.4.7
python-pptx==1.0.2
wasabi==1.1.3
outlines==0.1.11
defusedxml==0.7.1
azure-storage-blob==12.24.1
oslo.middleware==6.3.1
flask-restx==1.3.0
cffi==1.17.1
azureml-mlflow==1.57.0.post1
PyMatting==1.1.13
websocket-client==1.8.0
oslo.config==9.7.1
typer==0.15.1
anytree==2.12.1
aiofiles==23.2.1
httpx-sse==0.4.0
umap-learn==0.5.7
cycler==0.12.1
semantic-kernel==1.34.0
azure-ai-vision-imageanalysis==1.0.0
sqlparse==0.5.1
transformers==4.49.0
Paste==3.10.1
markdown-it-py==3.0.0
opentelemetry-instrumentation-dbapi==0.51b0
tomli==2.2.1
opentelemetry-instrumentation-urllib3==0.51b0
thinc==8.3.4
langchain-community==0.3.16
pyzmq==26.2.0
pypdfium2==4.30.1
azureml-dataprep==5.1.6
semantic-version==2.10.0
waitress==3.0.2
datasets==3.6.0
ipykernel==6.29.5
pyrit==0.8.1
tinycss2==1.4.0
mcp==1.10.1
mammoth==1.9.0
jupyterlab_pygments==0.3.0
amqp==5.3.1
pycryptodome==3.22.0
platformdirs==4.3.6
nvidia-cublas-cu12==12.4.5.8
opentelemetry-instrumentation-openai-v2==2.1b0
botocore==1.39.7
MarkupSafe==2.1.5
youtube-transcript-api==1.0.3
voluptuous==0.15.2
gradio_client==1.5.2
uv==0.7.8
jsonpointer==3.0.0
python-weather==2.0.7
ndg-httpsclient==0.5.1
azureml-dataprep-rslex==2.22.4
beartype==0.18.5
cymem==2.0.11
cloudpathlib==0.21.0
tinytag==2.1.1
jeepney==0.8.0
h11==0.14.0
SecretStorage==3.3.3
stack-data==0.6.2
distlib==0.3.8
websockets==14.2
simplegeneric==0.8.1
proto-plus==1.24.0
spacy-legacy==3.0.12
azureml-fsspec==1.3.1
contextlib2==21.6.0
uvicorn==0.34.0
azure-core-tracing-opentelemetry==1.0.0b11
opentelemetry-resource-detector-azure==0.1.5
Markdown==3.7
tenacity==9.0.0
ruamel.yaml.clib==0.2.12
imageio==2.35.1
prometheus-fastapi-instrumentator==7.0.2
ffmpy==0.5.0
PyMeta3==0.5.1
statsd==4.0.1
fqdn==1.5.1
netaddr==1.3.0
preshed==3.0.9
jsonpatch==1.33
iopath==0.1.10
keystonemiddleware==10.9.0
ag2==0.9.1.post0
azure-storage-file-datalake==12.17.0
s3transfer==0.13.0
xformers==0.0.28.post3
docstring_parser==0.16
pylance==0.20.0
aspose-words==25.6.0
duckdb_engine==0.17.0
moviepy==2.1.2
pypandoc==1.15
pydantic==2.10.6
proglog==0.1.10
docx==0.2.4
rtclient==0.5.3
scikit-learn==1.5.2
astor==0.8.1
compressed-tensors==0.9.1
itsdangerous==2.2.0
argon2-cffi==25.1.0
aiohttp==3.11.11
aiohappyeyeballs==2.4.4
jupyter-lsp==2.2.5
blis==1.2.0
pkginfo==1.11.1
pyasn1_modules==0.4.1
backports.weakref==1.0.post1
pyodbc==5.2.0
jsonpickle==3.3.0
onnxruntime==1.21.1
jmespath==1.0.1
azure-mgmt-authorization==4.0.0
babel==2.17.0
requests-toolbelt==1.0.0
statsmodels==0.14.4
jupyter_core==5.7.2
sweetviz==2.3.1
threadpoolctl==3.5.0
adal==1.2.7
pytube==15.0.0
pdfminer.six==20250327
oslo.service==4.1.1
azure-ai-agents==1.1.0b1
nvidia-nvjitlink-cu12==12.4.127
attrs==24.2.0
strictyaml==1.7.3
graphrag==2.0.0
protobuf==5.29.4
langchain-azure-ai==0.1.4
opencensus-context==0.1.3
termcolor==2.5.0
oslo.messaging==16.1.0
requests==2.32.3
pynndescent==0.5.13
scipy==1.15.2
argcomplete==3.5.0
fastrlock==0.8.3
propcache==0.2.1
overrides==7.7.0
eventlet==0.39.1
azure-cognitiveservices-speech==1.42.0
pdf2image==1.17.0
msrest==0.7.1
narwhals==1.25.2
nvidia-cuda-runtime-cu12==12.4.127
spacy-loggers==1.0.5
py-cpuinfo==9.0.0
jupyter_client==8.6.3
graphene==3.3
jupyter-console==6.6.3
ply==3.11
Routes==2.5.1
tomlkit==0.13.2
beautifulsoup4==4.13.3
blinker==1.8.2
coloredlogs==15.0.1
Werkzeug==3.0.4
plotly==6.0.0
appdirs==1.4.4
mypy-extensions==1.0.0
jedi==0.19.1
nbconvert==7.16.6
langchain-openai==0.3.3
pathspec==0.12.1
wonderwords==2.2.0
lxml==5.3.1
msgspec==0.19.0
dogpile.cache==1.3.4
paramiko==3.5.0
lazy-object-proxy==1.10.0
prompt_toolkit==3.0.47
graspologic-native==1.2.3
xxhash==3.5.0
opentelemetry-instrumentation-wsgi==0.51b0
backoff==2.2.1
jupyterlab_widgets==3.0.13
certifi==2024.8.30
Mako==1.3.5
yappi==1.6.10
jsonschema==4.23.0
autogen-core==0.5.7
six==1.16.0
coverage==5.5
notebook_shim==0.2.4
jupyter_server_terminals==0.5.3
uri-template==1.3.0
nvidia-nvtx-cu12==12.4.127
hyppo==0.4.0
packaging==24.1
pytest==8.3.5
nvidia-cuda-cupti-cu12==12.4.127
colorama==0.4.6
comm==0.2.2
pickleshare==0.7.5
fpdf==1.7.2
opentelemetry-instrumentation==0.51b0
layoutparser==0.3.4
fsspec==2023.10.0
chardet==5.2.0
PasteDeploy==3.1.0
os-service-types==1.7.0
soupsieve==2.6
blake3==1.0.4
curl_cffi==0.11.4
azure-mgmt-keyvault==10.3.1
mistral==20.0.0
isodate==0.6.1
regex==2024.11.6
nvidia-cusolver-cu12==11.6.1.9
oslo.context==5.7.1
gensim==4.3.3
interegular==0.3.3
joblib==1.4.2
typing_extensions==4.12.2
importlib_metadata==8.0.0
jaraco.text==3.12.1
typeguard==4.3.0
more-itertools==10.3.0
tomli==2.0.1
jaraco.context==5.3.0
backports.tarfile==1.2.0
platformdirs==4.2.2
autocommand==2.2.2
wheel==0.43.0
inflect==7.3.1
jaraco.collections==5.1.0
importlib_resources==6.4.0
jaraco.functools==4.0.1
packaging==24.1
zipp==3.19.2
